<!-- mobile expe -->
<div class="tab-pane fade  card_mobile" id="nav-exp-mobile" role="tabpanel" aria-labelledby="nav-acerca-tab-mobile"
    tabindex="0">
    <div class="card mb-3">
        <div class="card-body card-body scroll">
            <div *ngIf="isLoggedIn">
                <!-- Button trigger modal -->
                <button class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#modal_exp"><i class="fa-solid fa-plus"></i></button>
            </div>
            <h5 class="card-title text-center">Experiencia</h5>
            <div *ngFor="let experiencia of experiencias">

                <div *ngIf="isLoggedIn" class="">
                    <!-- Button trigger modal   botones eliminar y editar -->
                    <button (click)="eliminar(experiencia.id)" class="btn btn-danger">
                        <span><i class="fa-solid fa-trash-can"></i></span>
                    </button>
                    <button (click)="loadedit(experiencia.id)" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#modal_exp"><i class="fa-solid fa-pen"></i></button>
                </div>
                <h5 class="card-title text-white"> {{experiencia.nombre}}
                </h5>
                <p class="card-text text-center text-white">{{experiencia.tarea1}}</p>
                <p class="card-text text-center text-white">{{experiencia.tarea2}}</p>
                <p class="card-text text-center text-white">{{experiencia.tarea3}}</p>
            </div>
        </div>
    </div>
</div>

<!-- modal_exp -->
<div class="modal fade" id="modal_exp" tabindex="-1" aria-labelledby="modal_exp" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal_exp">Experiencia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="SaveEmployee()">

                    <div class="mb-3">
                        <label>id:</label>
                        <input id="id" class="form-control" name="id" formControlName="id">
                    </div>
                    <div class="mb-3">
                        <label>Puesto o trabajo:</label>
                        <input id="nombre" class="form-control" name="nombre" formControlName="nombre"
                            [(ngModel)]="expNueva.nombre">
                    </div>
                    <div class="mb-3">
                        <label>Trabajo actual?:<input type="checkbox" formControlName="trabajo"
                                [(ngModel)]="expNueva.Trabajo"></label>
                    </div>
                    <div class="mb-3">
                        <label>Fecha inicio:</label>
                        <input type="date" id="inicio" class="form-control" name="inicio" formControlName="inicio"
                            [(ngModel)]="expNueva.inicio">
                    </div>
                    <div class="mb-3">
                        <label>Fecha Fin:</label>
                        <input type="date" id="fin" class="form-control" name="fin" formControlName="fin"
                            [(ngModel)]="expNueva.fin">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Descripcion 1:</label>
                        <textarea class="form-control" id="message-text" name="tarea1" formControlName="tarea1"
                            [(ngModel)]="expNueva.tarea1"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Descripcion 2:</label>
                        <textarea class="form-control" id="message-text" name="tarea2" formControlName="tarea2"
                            [(ngModel)]="expNueva.tarea2"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Descripcion 3:</label>
                        <textarea class="form-control" id="message-text" name="tarea3" formControlName="tarea3"
                            [(ngModel)]="expNueva.tarea3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Descripcion 4:</label>
                        <textarea class="form-control" id="message-text" name="tarea4" formControlName="tarea4"
                            [(ngModel)]="expNueva.tarea4"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>