<!-- BOTON REDES -->
<div class="container-icons">
    <a href="http://" target="_blank" rel="noopener noreferrer">
        <div class="row-icons icon1">
            <h4>Mail</h4>
            <label class="label1" for=""><img src=".\assets\redes\17-gmail.png" alt="redes/gmail"></label>
        </div>
    </a>
    <a href="https://www.linkedin.com/in/gast%C3%B3n-alonso-4a70a1217/" target="_blank" rel="noopener noreferrer">
        <div class="row-icons icon2">
            <h4>Linkedin</h4><label class="icon-linkedin1 label2" for=""><img src=".\assets\redes\25-linkedin1.png"
                    alt="redes/linkedin"></label>
        </div>
    </a>
    <a href="http://" target="_blank" rel="noopener noreferrer">
        <div class="row-icons icon3">
            <h4>Instagram</h4><label class="icon-instagram label3" for=""><img src=".\assets\redes\21-instagram.png"
                    alt="redes/instagram"></label>
        </div>
    </a>
    <a href="https://github.com/t0ng42013" target="_blank" rel="noopener noreferrer">
        <div class="row-icons icon4">
            <h4>Github</h4><label class="icon-github1 label4" for=""><img src=".\assets\redes\github.png"
                    alt="redes/github"></label>
        </div>
    </a>
   
    <img src="./assets/img/01-addthis.png" class="icon-addthis" alt="redes" width="55">
</div>
<!-- redes mobile -->
<div class="redes_mobile nav_mobile">
    <span><a href="https://github.com/t0ng42013" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a></span>
    <span><a href="https://www.linkedin.com/in/gast%C3%B3n-alonso-4a70a1217/" target="_blank"
            rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a></span>
    <span><a href="http://hfghfgh" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a></span>
    <span><a href="http://" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a></span>
</div>