<!--  mobile Skilles -->
<div class="tab-pane fade card_mobile" id="nav-skill-mobile" role="tabpanel" aria-labelledby="nav-skill-tab-movile"
    tabindex="0">
<div class="card mb-3 ">
    <div class="card-body card-body scroll">
        <div *ngIf="isLoggedIn">
            <!-- Button trigger modal -->
            <button class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#modal_skill"><i class="fa-solid fa-plus"></i></button>
        </div>
        <div class="my__skills">Habilidades</div>
        <div class="skillbar ">
            <div *ngFor="let skill of skills" class="skills">

                <p>{{skill.nombre}}</p>
                <div class="skill__cont">
                    <div [style.width.%]="skill.porcentaje" class="skill html">{{skill.porcentaje}}%</div>
                </div>
                <div *ngIf="isLoggedIn" class="">
                    <!-- Button trigger modal   botones eliminar y editar -->
                    <button (click)="eliminar(skill.id)" class="btn btn-danger">
                        <span><i class="fa-solid fa-trash-can"></i></span>
                    </button>
                    <button (click)="loadedit(skill.id)" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#modal_skill"><i class="fa-solid fa-pen"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- modal_skill -->
<div class="modal fade" id="modal_skill" tabindex="-1" aria-labelledby="modal_skill" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal_skill">Habilidades</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="SaveEmployee()">
                    <div class="mb-3">
                        <label>id:</label>
                        <input id="id" class="form-control" name="id" formControlName="id">
                    </div>
                    <div class="mb-3">
                        <label>Nombre habilidad:</label>
                        <input name="nombre" formControlName="nombre" type="text" class="form-control" id="nombre"
                            [(ngModel)]="skillNuevo.nombre">
                    </div>
                    <div class="mb-3">
                        <label>Porcentaje:</label>
                        <input id="porcentaje" class="form-control" name="porcentaje" formControlName="porcentaje"
                            type="number" [(ngModel)]="skillNuevo.porcentaje">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                        <button class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
