<!-- ***************************nav mobile y tablet************************************** -->
<nav class="nav_mobile">
    <div class="nav nav-tabs tab2" id="nav-acerca-tab-mobile" role="tablist">
        <button class="btn_mobile active" id="nav-acerca-tab-mobile" data-bs-toggle="tab"
            data-bs-target="#nav-acerca-mobile" type="button" role="tab" aria-controls="nav-acerca-mobile"
            aria-selected="true">About</button>
        <button class="btn_mobile" id="nav-exp-tab" data-bs-toggle="tab" data-bs-target="#nav-exp-mobile" type="button"
            role="tab" aria-controls="nav-exp" aria-selected="false">Experiencia</button>
        <button class="btn_mobile" id="nav-edu-tab" data-bs-toggle="tab" data-bs-target="#nav-edu-mobile" type="button"
            role="tab" aria-controls="nav-edu" aria-selected="false">Educación</button>
        <button class="btn_mobile" id="nav-skill-tab" data-bs-toggle="tab" data-bs-target="#nav-skill-mobile"
            type="button" role="tab" aria-controls="nav-skill" aria-selected="false">Habilidades</button>
        <button class="btn_mobile" id="nav-proyecto-mobile" data-bs-toggle="tab" data-bs-target="#nav-proyecto-mobile"
            type="button" role="tab" aria-controls="nav-proyecto" aria-selected="false">Proyectos</button>

    </div>
</nav>