<!-- parallax -->
<div class="parallax">
    <div class="parallax__item ani_rotar "><img src="./assets/img/Capa3.png" alt="" class="img-fluid"></div>
    <div class="parallax__item "><img src="./assets/img/Capa8.png" alt="" class="img-fluid"></div>
    <div class="parallax__item"><img src="./assets/img/Capa2.png" alt="" class="img-fluid"></div>
    <div class="parallax__item ani_scale"><img src="./assets/img/Capa1.png" alt="" class="img-fluid"></div>
    <div class="parallax__item ani_scale"><img src="./assets/img/Capa5.png" alt="" class="img-fluid"></div>
    <div class="parallax__item"><img src="./assets/img/Capa6.png" alt="" class="img-fluid"></div>
    <div class="parallax__item ani_scale"><img src="./assets/img/Capa7.png" alt="" class="img-fluid"></div>
    <div class="parallax__item"><img src="./assets/img/Capa4.png" alt="" class="img-fluid"></div>
    <div class="parallax ani_scale"><img src="./assets/img/Fondo.jpg" alt="" class="img-fluid ani_scale"></div>
</div>