<div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Cursos:
            <div *ngIf="isLoggedIn" class="edit">
                <!-- Button trigger modal -->
                <button class="btn btn-primary position-absolute edit" data-bs-toggle="modal" data-bs-target="#modal_curso"><i
                        class="fa-solid fa-plus"></i></button>
            </div>
        </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <ul>
                <li *ngFor="let curso of listaCursos">{{curso.instituto}} <br> {{curso.titulo}}
                    <div *ngIf="isLoggedIn" class="">
                        <!-- Button trigger modal   botones eliminar y editar -->
                        <button (click)="eliminar(curso.id)" class="btn btn-danger">
                            <span><i class="fa-solid fa-trash-can"></i></span>
                        </button>
                        <button (click)="loadedit(curso.id)" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#modal_curso"><i class="fa-solid fa-pen"></i></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- modal_edu -->
<div class="modal fade" id="modal_curso" tabindex="-1" aria-labelledby="modal_exp" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal_exp">Curso</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="SaveEmployee()">

                    <div class="mb-3">
                        <label>id:</label>
                        <input id="id" class="form-control" name="id" formControlName="id">
                    </div>
                    <div class="mb-3">
                        <label>instituto:</label>
                        <input id="instituto" class="form-control" name="instituto" formControlName="instituto"
                            [(ngModel)]="cursoNuevo.instituto">
                    </div>
                    <div class="mb-3">
                        <label>Fecha inicio:</label>
                        <input type="date" id="inicio" class="form-control" name="inicio" formControlName="inicio"
                            [(ngModel)]="cursoNuevo.inicio">
                    </div>
                    <div class="mb-3">
                        <label>Fecha Fin:</label>
                        <input type="date" id="fin" class="form-control" name="fin" formControlName="fin"
                            [(ngModel)]="cursoNuevo.fin">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Descripcion titulo:</label>
                        <textarea class="form-control" id="message-text" name="titulo" formControlName="titulo"
                            [(ngModel)]="cursoNuevo.titulo"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>