
    <!-- barra nombre -->
    <div class="d-flex justify-content-around py-2 nombre_mobile">
        <h1 class="text-white">Gaston Alonso</h1>
        <!-- nav desktop-->
        <nav class="nav-main-desk">
            <div class="nav nav-tabs tab2" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-acerca-tab" data-bs-toggle="tab" data-bs-target="#nav-acerca"
                    type="button" role="tab" aria-controls="nav-acerca " aria-selected="true">Acerca...</button>
                <button class="nav-link" id="nav-exp-tab" data-bs-toggle="tab" data-bs-target="#nav-exp" type="button"
                    role="tab" aria-controls="nav-exp" aria-selected="false">Experiencia</button>
                <button class="nav-link" id="nav-edu-tab" data-bs-toggle="tab" data-bs-target="#nav-edu" type="button"
                    role="tab" aria-controls="nav-edu" aria-selected="false">Educación</button>
                <button class="nav-link" id="nav-skill-tab" data-bs-toggle="tab" data-bs-target="#nav-skill"
                    type="button" role="tab" aria-controls="nav-skill" aria-selected="false">Habilidades</button>
                <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled"
                    type="button" role="tab" aria-controls="nav-disabled" aria-selected="false"
                    disabled>Proyectos</button>

            </div>
        </nav> 
        <app-nav-main-mobile></app-nav-main-mobile>
    </div>
    <app-proyect></app-proyect>